{% extends 'base.html' %}
{% load static %}
{% block bodyblock %}

<h1>Your cart</h1>

<div><p>Cart item 1</p></div>
<div><p>Cart item 2</p></div>
<div><p>Cart item 3</p></div>

<h2>Payment Details</h2>

<form>
    <label>First Name</label>
    <input type="text">
    <p>More details will be added here later</p>
</form>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Order Details</h2>
            <table class="table">
                <tr>
                    <th>&nbsp&nbsp&nbsp&nbsp</th>
                    <th>Restaurant</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                </tr>
                <!--DTL for loop to display cart info-->
            </table>
        </div>
        <div class="col-lg-6">
            <h2>Payment Info</h2>
        </div>
    </div>
</div>
{% endblock %}