{% extends 'base.html' %}
{% load static %}
{% block bodyblock %}
<h1>Your Cart</h1><br>
<div class="container">
    <div class="row">
        <div class="col-lg-6" style="padding-top:5px">
            <h2>Order Details</h2>
            <table class="table">
                <tr>
                    <th>&nbsp&nbsp&nbsp&nbsp</th>
                    <th>Restaurant</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                </tr>
                <!--DTL for loop to display cart info-->
            </table>
        </div>
        <div class="col-lg-6 border" style="padding-top:5px">
            <form>
                <h2>Customer Info</h2>
                <div class="form-row">
                    <div class="col">
                        <label for="firstname">First Name:</label><br>
                        <input type="text" class="form-control" id="firstname" maxlength="20" value="{{ cart.customerfirstname }}">
                    </div>
                    <div class="col">
                        <label for="lastname">Last Name:</label><br>
                        <input type="text" class="form-control" id="lastname" maxlength="30" value="{{ cart.customerlastname }}">
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col">
                        <label for="phone">Phone:</label><br>
                        <input type="text" class="form-control" id="phone" maxlength="10" value="{{ cart.customerphone }}">
                    </div>
                    <div class="col">
                    </div>
                </div>
                <br>
                <h2>Delivery Info</h2>
                <div class="form-row">
                    <div class="col">
                        <label for="line1">Address Line 1:</label><br>
                        <input type="text" class="form-control" id="line1" maxlength="20" value="{{ cart.deliveryaddressline1 }}">
                    </div>
                    <div class="col">
                        <label for="line2">Address Line 2:</label><br>
                        <input type="text" class="form-control" id="line2" maxlength="30" value="{{ cart.deliveryaddressline2 }}">
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col">
                        <label for="city">City:</label><br>
                        <input type="text" class="form-control" id="city" maxlength="10" value="{{ cart.deliverycity }}">
                    </div>
                    <div class="col">
                        <label for="state">State:</label><br>
                        <input type="text" class="form-control" id="state" maxlength="10" value="{{ cart.deliverystate }}">
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col">
                        <label for="zip">Zip:</label><br>
                        <input type="text" class="form-control" id="zip" maxlength="10" value="{{ cart.deliveryzip }}">
                    </div>
                    <div class="col">
                    </div>
                </div>
                <br>
                <h2>Payment Info</h2>
                <div class="form-row">
                    <div class="col">
                        <label for="cardnumber">Card Number:</label><br>
                        <input type="text" class="form-control" id="cardnumber" maxlength="10">
                    </div>
                    <div class="col">
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <label for="month">Expiration:</label><br>
                                <input type="text" class="form-control" id="month" maxlength="10">
                            </div>
                            <div class="col">
                                <label for="year" style="color:white">Expiration:</label><br>
                                <input type="text" class="form-control" id="year" maxlength="10">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col">
                        <label for="cvv">CVV:</label><br>
                        <input type="text" class="form-control" id="cvv" maxlength="10">
                    </div>
                    <div class="col">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Place Order</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}