{% extends 'base.html' %}
{% load static %}
{% block bodyblock %}
<h1>Cart #{{cart.id}}</h1><br>
<div>
    <div class="row">
        <div class="col-lg-6" style="padding-top:5px">
            <h2>Order Details</h2>
            <hr>
            {% for restaurant in restaurants %}
            <h3>{{restaurant}}</h3>

                <table class="table ">
                    <thead>
                        <tr>
                        
                            <td scope="col">Item</th>
                            <td scope="col">Quantity</th>
                            <td scope="col">Price</th>
                            <td scope="col"></th>
                            <td scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            {% if item.item.restaurant == restaurant %}
                                <tr>
                                    <th scope="row">{{item.item}}</th>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.item.cost}}</td>
                                    <td><a class="btn btn-secondary btn-sm" href="{% url 'edit-item' cart_item_id=item.id %}" role="button">Edit</a></td>
                                    <td><a class="btn btn-warning btn-sm" href="{% url 'delete-item' cart_item_id=item.id %}" role="button">Delete</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            
            <a class="btn btn-primary " href="{% url 'restaurant' cart_number=cart.id %}" role="button">Add Item +</a>
        </div>
        <div class="col-lg-6 border" style="padding-top:5px">
            <form method="post" action="{% url 'ordersummary' cart_number=cart.id %}">
                {% csrf_token %}
                <h2>Customer Info</h2>
                <!--<input type="hidden" id="cart_number" value="{{ cart.id }}">-->
                <div class="form-row">
                    <div class="col">
                        <label for="customerfirstname">First Name:</label><br>
                        <input type="text" class="form-control" id="customerfirstname" name="customerfirstname" maxlength="20" value="{{ cart.customerfirstname }}" placeholder="e.g., John" required>
                    </div>
                    <div class="col">
                        <label for="customerlastname">Last Name:</label><br>
                        <input type="text" class="form-control" id="customerlastname" name="customerlastname" maxlength="30" value="{{ cart.customerlastname }}" placeholder="e.g., Doe" required>
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col">
                        <label for="customerphone">Phone:</label><br>
                        <input type="text" class="form-control" id="customerphone" name="customerphone" maxlength="10" value="{{ cart.customerphone }}" placeholder="e.g., 1238904567" required>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <br>
                <h2>Delivery Info</h2>
                <div class="form-row">
                    <div class="col">
                        <label for="deliveryaddressline1">Address Line 1:</label><br>
                        <input type="text" class="form-control" id="deliveryaddressline1" name="deliveryaddressline1" maxlength="100" value="{{ cart.deliveryaddressline1 }}" placeholder="Address Line 1" required>
                    </div>
                    <div class="col">
                        <label for="deliveryaddressline2">Address Line 2:</label><br>
                        <input type="text" class="form-control" id="deliveryaddressline2" name="deliveryaddressline2" maxlength="100" value="{{ cart.deliveryaddressline2 }}" placeholder="Address Line 2">
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col">
                        <label for="deliverycity">City:</label><br>
                        <input type="text" class="form-control" id="deliverycity" name="deliverycity" maxlength="30" value="{{ cart.deliverycity }}"placeholder="e.g., Los Angeles" required>
                    </div>
                    <div class="col">
                        <label for="deliverystate">State:</label><br>
                        <input type="text" class="form-control" id="deliverystate" name="deliverystate" maxlength="2" value="{{ cart.deliverystate }}" placeholder="e.g., CA" required>
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col">
                        <label for="deliveryzip">Zip:</label><br>
                        <input type="text" class="form-control" id="deliveryzip" name="deliveryzip" maxlength="10" value="{{ cart.deliveryzip }}" placeholder="e.g., 90001" required>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <br>
                <h2>Payment Info</h2>
                <div class="form-row">
                    <div class="col">
                        <label for="cardnumber">Card Number:</label><br>
                        <input type="text" class="form-control" id="cardnumber" name="cardnumber" maxlength="16" placeholder="e.g., 1234123412341234" required>
                    </div>
                    <div class="col">
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <label for="month">Expiration:</label><br>
                                <input type="text" class="form-control" id="month" maxlength="2" placeholder="MM" name="month" required>
                            </div>
                            <div class="col">
                                <label for="year" style="color:white">Expiration:</label><br>
                                <input type="text" class="form-control" id="year" maxlength="2" placeholder="YY" name="year" required>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col">
                        <label for="cardcvv">CVV:</label><br>
                        <input type="text" class="form-control" id="cardcvv" name="cardcvv" maxlength="3" placeholder="e.g., 000" required>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Place Order</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}