{% extends 'base.html' %}
{% load static %}
{% block bodyblock %}
<h1>Edit {{cartItem.item}} quantity</h1>
<hr>
<form name="form" method="POST" action="{% url 'save-item' cart_item_id=cartItem.id %}">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputQuantity">{{cartItem.item}}</label>
        <input type="number" min="1" class="form-control" id="inputQuantity" placeholder="Quantity" name="inputQuantity" required value="{{cartItem.quantity}}">
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-outline-secondary" onclick="window.history.back();">Cancel</button>

</form>


{% endblock %}