{% extends 'base.html' %}
{% load static %}
{% block bodyblock %}

<div class="container w-100">
    <div class="row w-100">
        <div class="col w-100">
            <div class="row">
                <div class="col text-center">
                    <h1> Menu </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for item in all_items %}
                        <div class="row item-hover py-3" id="{{item.id}}" onclick="select_item({{item.id}})">
                            <div class="col">
                                <img src="{% static 'img/fries.jpg' %}">
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h2> {{item.name}} </h2>
                                        <p> {{item.description}} </p>
                                        <p> ${{item.cost}} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <form method="POST" action="{% url 'add-item' %}">
                                            {% csrf_token %} 
                                            <input type="hidden" name="cart_number" value="{{ cart_number }}">
                                            <input type="hidden" name="item_id" value="{{ item.id }}">
                                            <label for="quantity">QTY:</label>
                                            <input id="quantity" type="number" class="form-control d-inline w-25" name="quantity" disabled>
                                            <button type="submit" class="btn btn-primary d-inline w-50" disabled>Add Item</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function select_item(i) {
        var forms = document.querySelectorAll('.item-hover');
        for (form of forms) {
            form.classList.add("disabled-item")
        }
        var selected_item = document.getElementById(i);
        selected_item.classList.remove("disabled-item");
        selected_item.classList.remove(".item-hover");
        form = selected_item.querySelectorAll("form")[0];
        console.log(form);
        all_inputs = form.children;
        console.log(all_inputs);
        for (input of form.children) {
            input.removeAttribute("disabled");
        }
    }
</script>

{% endblock %}