{% extends 'base.html' %}
{% load static %}
{% block bodyblock %}

{% if failure == True %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Could not find cart #{{cartNum}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<div class="card ">
    <div class="card-header"> 
        <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="newOrder-tab" data-toggle="tab" href="#newOrder" role="tab" aria-controls="newOrder" aria-selected="true">New Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="findCart-tab" data-toggle="tab" href="#findCart" role="tab" aria-controls="findCart" aria-selected="false">Find Cart</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="newOrder" role="tabpanel" aria-labelledby="newOrder-tab">
                <h1>Create a New Order</h1>
                <br>
                
                <a class="btn btn-primary " href="{% url 'newcart' %}" role="button">New Order +</a>
            </div>
            <div class="tab-pane fade" id="findCart" role="tabpanel" aria-labelledby="findCart-tab">
                <h1>Find a Cart</h1>
                <br>
                <form name="form" method="GET" action="{% url 'find-cart' %}">
                    
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputCartNumber">Cart Number</label>
                        <input type="text" class="form-control" id="inputCartNumber" placeholder="Cart Number" name="inputCartNumber" required>
                      </div>
                    </div>
                    
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </form>
                
            </div>
            
        </div>
    </div>
</div>


{% endblock %}